@if (TempData["successAlertModal"] != null)
{
    <div class="modal" tabindex="-1" id="md" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>@TempData["successAlertModal"]</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
}

@if (TempData["successAlert"] != null)
{
    <div class="modal" tabindex="-1" id="md" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>@TempData["successAlert"]</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
}


@if (TempData["errorAlert"] != null)
{
    <div class="alert btn-primary">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p>@TempData["errorAlert"]</p>
    </div>
    <div class="modal" tabindex="-1" id="md" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>@TempData["errorAlert"]</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
}

@if (TempData["errorDuplication"] != null)
{
    <div class="alert btn-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p>@TempData["errorDuplication"]</p>
    </div>
    <div class="alert btn-primary">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p>@TempData["errorAlert"]</p>
    </div>
    <div class="modal" tabindex="-1" id="md" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Duplication Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>@TempData["errorDuplication"]</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
}


<script>
    $(document).ready(function () {
        //setTimeout(function () {
        $("#md").modal('show');
        //   // $(".alert").alert('close');
        //}, 5000);
         //$("#md").modal('hide');
        //if (TempData["successAlert"] != null) {
        //    $(".modal").modal('show');
        //}

    });
</script>
