@model StartingPoint.Models.DashboardViewModel.DashboardSummaryViewModel

<br />
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <a href="@Url.Action("Index", "Asset")">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-university"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Asset</span>
                    <span class="info-box-number">
                        @Model.TotalAsset
                    </span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <a href="@Url.Action("Index", "Asset")">
            <div class="info-box">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-check-square"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Assigned Asset</span>
                    <span class="info-box-number">
                        @Model.TotalAssignedAsset
                    </span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <a href="@Url.Action("Index", "Asset")">
            <div class="info-box">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total UnAssigned Asset</span>
                    <span class="info-box-number">
                        @Model.TotalUnAssignedAsset
                    </span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <a href="@Url.Action("Index", "Employee")">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-handshake"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Employee</span>
                    <span class="info-box-number">
                        @Model.TotalEmployee
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <a href="#" onclick="AddEdit(0)">
            <div class="info-box">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-user-plus"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">
                        Add New Asset
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>

<script src="~/js/Asset/Asset_CRUD.js"></script>
<script src="~/js/UserManagement/UserManagement_CRUD.js"></script>